* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

.navbar-brand h1 {
    color: #555;
    text-shadow: 1px 1px 1px #000;
    font-size: 2em;
    font-weight: 600;
}

.navbar-brand a:hover, .navbar-brand a:active {
    color: #555;
    text-shadow: 1px 1px 1px #000;
    font-size: 2em;
}

.collapse {
    color: #000;
}

.navbar {
    background: #777;
}
.navbar-nav {
    text-align: center;
    width: auto;
}

.nav-item a {
    text-decoration: none;
    padding: 8px;
    color: #000;


}

.nav-item:hover, .nav-item:active {
    background:  #888;
    opacity: 0.7;
    color: #fff;
}

h2 {
    margin: 10px 0 10px 0;
}

h3 {
    margin: 10px 0 0 0;
}

/* --- Text Section -- */

.row {
    padding: 0;
}

.ArticleContainer {
    float: left;
    border: 2px solid #000;
    border-radius: 20px;
    background: #999;
    margin: 0 10px 20px 10px;
}

.ArticleBody {
    padding: 15px;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: none;
    }
}

.TopReturn {
    padding: 15px;
    color: #000;
    text-decoration: none;
}

.TopReturn a:hover, .TopReturn a:active, .TopReturn a:visited {
    color: #000;
    text-decoration: none;

}